.Cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.product > p {
    padding: 30px;
}
#quantity{
    max-width: 30px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}